# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg
*.log
*.sqlite3
*.db
*.bak
*.swp
*.tmp

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Cache/Artifacts
news_cache.json

# Images
static/image/

# Node
node_modules/

# Others
*.orig
